.categories {
    text-align: center !important;
    // padding: 2rem ;
    height: 500px;

    a {
        color: var(--White);
        font-weight: 500;
    }
}


.categories-all {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: space-around;
    padding: 2rem;
}

.card-bdr {
    width: 200px;
    // height: 254px;
    height: 250px;
    // background-image: linear-gradient(163deg, #0a4446 0%, #111d1b 100%);
    // background: var(--Rose_Gold);
    // box-shadow: 5px 5px 10px rgba(113, 70, 75, 0.25), inset 2px 2px 6px #ff9baa, inset -5px -5px 10px #70363f;
    border-radius: 20px;
    transition: all .3s;
    padding: 0;

    &:hover {
        transform: scale(0.98);
        // border-radius: 10px;
    }
}

.categories-item {
    // margin: 1rem 0;
    padding: 1rem;
    width: 200px;
    height: 250px;
    // height: 254px;
    background-color: #070707;
    border-radius: 20px;
    transition: all .2s;
    box-shadow: 10px 10px 20px #252525,
        -10px -10px 20px rgb(39, 39, 39) ;

    &:hover {
        // box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
        box-shadow: 5px 5px 10px rgba(70, 113, 91, 0.25), inset 2px 1px 5px #9bffc8, inset -5px -5px 10px #36704e;
        // box-shadow: 5px 5px 10px rgba(113, 70, 75, 0.25), inset 2px 2px 6px #1d1d1d, inset -5px -5px 10px #131212;
    }
}

.categories img {
    display: block;
    margin: 0 auto;
    z-index: 100;
    padding: 2rem 0;
}